.banner {
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
  width: 100%;
  background-image: url(../assets/bck.jpg);
}
