.banner {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 65vh;
  width: 100%;
  background-image: url(/assets/bck.jpg);
}
.pre-navbar {
  background-color: black;
}
