.navbar {
  background-color: #5f678e;
  display: flex;
  justify-content: center;
  gap: 25%;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.573);
  &-logo {
    img {
      height: 25px;
    }
    .logo {
      height: 45px;
    }
  }
  .lado-derecho {
    display: flex;
    gap: 45px;
  }
  .lado-izquierdo {
    display: flex;
    align-items: center;
  }
  &-menu {
    list-style: none;
    display: flex;
    gap: 30px;

    li {
      a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;

        &:hover {
          color: blueviolet;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
